.vs/*
out/*
CMakeFiles/*
build/*
.vscode/*
clinclude/*

*.clh
*.cl

submod
inc/ae2fCL/Ann/Sizes/*

Doxyfile
html

*.py

test/none

.*/
*.auto.*

inc/ae2f/Ann/Slp.h
inc/ae2f/Ann/Mlp.h
inc/ae2f/MMap/MMap.h
inc/ae2f/MMap/Util.h

inc/ae2fVK/Ann/Slp.h

